<div class="d-flex justify-content-between mb-2">
  <h4>Thay đổi mật khẩu</h4>
</div>
<div [formGroup]="form">

  <div class="form-outline mb-4">
    <label class="form-label">Mật khẩu cũ</label>
    <input type="password" formControlName="oldPassword" class="form-control form-control-lg"
           [class.is-invalid]="(form.controls.oldPassword.touched || form.controls.oldPassword.dirty) && form.controls.oldPassword.errors"
           [class.is-valid]="(form.controls.oldPassword.touched || form.controls.oldPassword.dirty) && !form.controls.oldPassword.errors"
           placeholder="Nhập mật khẩu" />
  </div>
  <!-- Password input -->
  <div class="form-outline mb-3">
    <label class="form-label">Mật khẩu mới</label>
    <input type="password" formControlName="password" class="form-control form-control-lg"
           [class.is-invalid]="(form.controls.password.touched || form.controls.password.dirty) && form.controls.password.errors"
           [class.is-valid]="(form.controls.password.touched || form.controls.password.dirty) && !form.controls.password.errors"
           placeholder="Nhập mật khẩu" />
  </div>
  <div>
    <button nz-button nzType="primary" class="d-flex align-items-center" (click)="submit()" nzShape="round" [nzLoading]="submitting">
      Đổi mật khẩu
    </button>
  </div>
</div>
