<div class="row mt-5 mx-3" *ngIf="dataHtml">
  <div class="col-8">
    <ckeditor id="editor-pdf" #editor1 [data]="dataHtml" editorUrl="https://cdn.ckeditor.com/4.14.0/full/ckeditor.js"
              [config]="configCkeditor"></ckeditor>
  </div>
  <div class="col-4" [formGroup]="formInfo">
    <h4>Thông tin khách hàng</h4>
    <div class="form-group mb-2">
      <label class="fw-bolder">Số điện thoại <span class="text-danger">*</span></label>
      <input formControlName="phone" class="form-control"
             [class.is-invalid]="(formInfo.get('phone').dirty || formInfo.get('phone').touched) && formInfo.get('phone').errors"
             [class.is-valid]="(formInfo.get('phone').dirty || formInfo.get('phone').touched) && !formInfo.get('phone').errors">
    </div>
    <div class="form-group">
      <label class="fw-bolder">Kích thước yêu cầu <span class="text-black-50 small">(Mặc định: {{dimension.width}}x{{dimension.height}})</span></label>
      <div class="d-flex align-items-center">
        <input formControlName="width" class="form-control" type="number"
               [class.is-invalid]="(formInfo.get('width').dirty || formInfo.get('width').touched) && formInfo.get('width').errors"
               [class.is-valid]="(formInfo.get('width').dirty || formInfo.get('width').touched) && !formInfo.get('width').errors">
        <div class="px-2">X</div>
        <input formControlName="height" class="form-control" type="number"
               [class.is-invalid]="(formInfo.get('height').dirty || formInfo.get('height').touched) && formInfo.get('height').errors"
               [class.is-valid]="(formInfo.get('height').dirty || formInfo.get('height').touched) && !formInfo.get('height').errors">
      </div>
    </div>
  </div>
  <div class="col-12 mt-2 text-end">
    <button nz-button nzType="primary" (click)="submitFile()" [disabled]="uploading" [nzLoading]="uploading">Chốt</button>
  </div>
</div>
