<nz-card class="mt-2" [nzTitle]="fileInfo.name">
  <div class="row mx-3" *ngIf="dataHtml">
<!--    <div class="col-12"><h6>{{fileInfo.name}}</h6></div>-->
    <div class="col-lg-8 col-sm-12 mt-lg-0 ">
      <ckeditor id="editor-pdf" #editor1 [data]="dataHtml" editorUrl="https://cdn.ckeditor.com/4.14.0/full/ckeditor.js"
                [config]="configCkeditor"></ckeditor>
    </div>
    <div class="col-lg-4 col-sm-12 mt-lg-0 mt-4 " *ngIf="type == 'admin-edit'" [formGroup]="formInfo">
      <h4>Thông tin file</h4>
      <div class="form-group mb-2">
        <label class="fw-bolder">Tên file <span class="text-danger">*</span></label>
        <input formControlName="name" class="form-control"
               [class.is-invalid]="(formInfo.get('name').dirty || formInfo.get('name').touched) && formInfo.get('name').errors"
               [class.is-valid]="(formInfo.get('name').dirty || formInfo.get('name').touched) && !formInfo.get('name').errors">
      </div>
      <div class="form-group">
        <label class="fw-bolder">Kích thước mặc định <span class="text-danger">*</span></label>
        <div class="d-flex align-items-center">
          <div class="me-1">Ngang:</div>
          <input formControlName="width" class="form-control me-1" type="number"
                 [class.is-invalid]="(formInfo.get('width').dirty || formInfo.get('width').touched) && formInfo.get('width').errors"
                 [class.is-valid]="(formInfo.get('width').dirty || formInfo.get('width').touched) && !formInfo.get('width').errors">
          <div>cm</div>
          <div class="px-2">X</div>
          <div class="me-1">Dọc:</div>
          <input formControlName="height" class="form-control me-1" type="number"
                 [class.is-invalid]="(formInfo.get('height').dirty || formInfo.get('height').touched) && formInfo.get('height').errors"
                 [class.is-valid]="(formInfo.get('height').dirty || formInfo.get('height').touched) && !formInfo.get('height').errors">
          <div>cm</div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-12 mt-lg-0 mt-4 " *ngIf="type != 'admin-edit'" [formGroup]="formInfo">
      <h4>Thông tin khách hàng</h4>
      <div class="form-group mb-2">
        <label class="fw-bolder">Số điện thoại <span class="text-danger">*</span></label>
        <input formControlName="phone" class="form-control"
               [class.is-invalid]="(formInfo.get('phone').dirty || formInfo.get('phone').touched) && formInfo.get('phone').errors"
               [class.is-valid]="(formInfo.get('phone').dirty || formInfo.get('phone').touched) && !formInfo.get('phone').errors">
      </div>
      <div class="mb-2">
        <img src="/assets/images/bander.jpg" class="w-100">
      </div>
      <div class="form-group">
        <label class="fw-bolder">Kích thước yêu cầu <span class="text-black-50 small">(Mặc định: {{dimension.width}}cm x {{dimension.height}}cm)</span></label>
        <div class="d-flex align-items-center">
          <div class="me-1">Ngang:</div>
          <input formControlName="width" class="form-control me-1" type="number"
                 [class.is-invalid]="(formInfo.get('width').dirty || formInfo.get('width').touched) && formInfo.get('width').errors"
                 [class.is-valid]="(formInfo.get('width').dirty || formInfo.get('width').touched) && !formInfo.get('width').errors">
          <div>cm</div>
          <div class="px-2">X</div>
          <div class="me-1">Dọc:</div>
          <input formControlName="height" class="form-control me-1" type="number"
                 [class.is-invalid]="(formInfo.get('height').dirty || formInfo.get('height').touched) && formInfo.get('height').errors"
                 [class.is-valid]="(formInfo.get('height').dirty || formInfo.get('height').touched) && !formInfo.get('height').errors">
          <div>cm</div>
        </div>
      </div>
    </div>
    <div class="col-12 mt-2 d-flex justify-content-end">
      <button class="btn btn-secondary me-3" (click)="cancel()" [disabled]="uploading" *ngIf="type == 'admin-edit'">Huỷ</button>
      <button class="btn btn-primary" (click)="submitFile()" [disabled]="uploading"><i *ngIf="uploading" class="fa fa-spin fa-spinner me-2"></i>{{type != 'admin-edit' ? 'Chốt' : 'Lưu lại'}}</button>
    </div>
  </div>

</nz-card>
