<nz-layout>
  <nz-header class="px-1">
    <div class="d-flex">
      <a class="logo" href="/">
        <img src="/assets/images/logo.png">
      </a>
      <ul nz-menu nzMode="horizontal" nzTheme="dark">
<!--        <li nz-menu-item class="d-sm-block" [nzSelected]="pathActive == '/'" routerLink="/" routerLinkActive="/">-->
<!--          <div class="d-flex align-items-center">-->
<!--            <span nz-icon nzType="home" class="pe-1"></span>-->
<!--            Trang chủ-->
<!--          </div>-->
<!--        </li>-->
        <li nz-menu-item nzMatchRouter routerLink="/your-files" routerLinkActive="/your-files">
          <div class="d-flex align-items-center">
            <span nz-icon nzType="file-pdf" class="pe-1"></span>
            File của bạn
          </div>
        </li>
        <li nz-menu-item nzMatchRouter routerLink="/about" routerLinkActive="/about">
          <div class="d-flex align-items-center">
            <span nz-icon nzType="info-circle" class="pe-1"></span>
            Về chúng tôi
          </div>
        </li>
      </ul>
    </div>
  </nz-header>
  <nz-content style="min-height: calc(100vh - 170px);">
    <router-outlet></router-outlet>
  </nz-content>
  <nz-footer>
    <div class="text-center">
      <hr>
      Copyright ©2023 PDF
    </div>
  </nz-footer>
</nz-layout>
