<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="/">
        <img src="/assets/images/logo.png" alt="logo">
        <h1>Pdf editor</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li
        nz-menu-item
        nz-tooltip
        nzTooltipPlacement="right"
        [nzTooltipTitle]="isCollapsed ? 'Quản lý file' : ''"
        nzMatchRouter [routerLinkActive]="'/'+adminPath+'/files'" [routerLink]="'/'+adminPath+'/files'"
      >
        <span nz-icon nzType="file-pdf"></span>
        <span>Quản lý file</span>
      </li>
      <li
        nz-menu-item
        nz-tooltip
        nzTooltipPlacement="right"
        [nzTooltipTitle]="isCollapsed ? 'File của khách' : ''"
        nzMatchRouter [routerLinkActive]="'/'+adminPath+'/customer-files'" [routerLink]="'/'+adminPath+'/customer-files'"
      >
        <span nz-icon nzType="shopping-cart"></span>
        <span>File của khách</span>
      </li>
      <li
        nz-menu-item
        nz-tooltip
        nzTooltipPlacement="right"
        [nzTooltipTitle]="isCollapsed ? 'Quản lý người dùng' : ''"
        nzMatchRouter [routerLinkActive]="'/'+adminPath+'/users'" [routerLink]="'/'+adminPath+'/users'"
      >
        <span nz-icon nzType="bars"></span>
        <span>Quản lý người dùng</span>
      </li>
      <li
        nz-menu-item
        nz-tooltip
        nzTooltipPlacement="right"
        [nzTooltipTitle]="isCollapsed ? user?.phone : ''"
        nzMatchRouter [routerLinkActive]="'/'+adminPath+'/change-password'" [routerLink]="'/'+adminPath+'/change-password'"
      >
        <span nz-icon nzType="user"></span>
        <div class="d-flex justify-content-between w-100 ps-2 pe-3 align-items-center">
          <span>{{user?.phone}}</span>
          <a href="javascript: void (0)" class="text-light" (click)="logout()"><span nz-icon nzType="logout"></span></a>
        </div>
      </li>
    </ul>
    <div class="text-center" [class.ps-4]="!isCollapsed" [class.text-center]="isCollapsed">
      <span class="text-white" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
                  nz-icon
                  [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
        </span>
    </div>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
