<div class="container fileUploadWrapper">
  <div class="row" *ngIf="!fileObj;else templateInfo">
    <!-- Progress Bar -->
    <div class="col-md-12" *ngIf="progress">
      <div class="progress form-group">
        <div
          class="progress-bar progress-bar-striped bg-success"
          role="progressbar"
          [style.width.%]="progress"
        ></div>
      </div>
    </div>
    <div class="col-md-12">
      <div
        class="fileupload"
        appDragDropFileUpload
        (click)="fileField.click()"
        (fileDropped)="upload($event)"
      >
        <div>
          <img class="image-review" [src]="fileObj?.url ? sanitize(fileObj.url) : '/assets/icons/icon-upload.png'" alt="" />
        </div>
        <p *ngIf="fileObj?.item">{{fileObj?.item?.extension}}{{ fileObj?.item?.name }}</p>
        <p class="ddinfo" *ngIf="!fileObj?.item">Choose a file or drag here</p>
        <p class="message" *ngIf="msg">{{ msg }}</p>
        <input
          type="file"
          name="avatars"
          #fileField
          (change)="upload($any($event).target.files)"
          hidden
        />
      </div>
    </div>
  </div>
</div>
<ng-template #templateInfo>
  <div [formGroup]="formInfo" class="form-info" *ngIf="!editFileAble; else templateEdit">
    <div>
      <h4>Thông tin khách hàng</h4>
    </div>
    <div class="form-group">
      <label>Số điện thoại <span class="text-danger">*</span></label>
      <input formControlName="phone" class="form-control"
             [class.is-invalid]="(formInfo.get('phone').dirty || formInfo.get('phone').touched) && formInfo.get('phone').errors"
             [class.is-valid]="(formInfo.get('phone').dirty || formInfo.get('phone').touched) && !formInfo.get('phone').errors">
    </div>
    <div class="form-group">
      <label>Kích thước yêu cầu</label>
      <input formControlName="dimension" class="form-control"
             [class.is-invalid]="(formInfo.get('dimension').dirty || formInfo.get('dimension').touched) && formInfo.get('dimension').errors"
             [class.is-valid]="(formInfo.get('dimension').dirty || formInfo.get('dimension').touched) && !formInfo.get('dimension').errors">
    </div>
    <div class="pt-2">
      <button class="btn btn-secondary me-1" (click)="removeFile()">Trở lại</button>
      <button class="btn btn-success ms-1" (click)="setEditFileAble(true)">Tiếp tục</button>
    </div>
  </div>
</ng-template>
<ng-template #templateEdit>
  <div [formGroup]="formInfo">
    <div>
      <h4>Chỉnh sửa file</h4>
    </div>
    <div>
      <ckeditor #editor1 [data]="dataHtml" [config]="configCkeditor"></ckeditor>
    </div>
    <div class="pt-2">
      <button class="btn btn-secondary me-1" (click)="setEditFileAble(false)">Trở lại</button>
      <button class="btn btn-success ms-1" (click)="submit()">Chốt</button>
    </div>
  </div>
</ng-template>
