<div class="d-flex justify-content-between">
  <h4>Danh sách files</h4>
  <div>
    <button nz-button nzType="primary" class="d-flex align-items-center" (click)="showModal()" nzShape="round" [nzLoading]="uploading">
      <span nz-icon [nzType]="'upload'"></span>
      Tải file lên
    </button>
  </div>
</div>
<nz-table #basicTable [nzData]="listOfData" [nzLoading]="loading">
  <thead>
  <tr>
    <th>Id</th>
    <th>Tên file</th>
<!--    <th>Đường dẫn</th>-->
    <th>Người tải lên</th>
    <th>Số điện thoại</th>
    <th [nzWidth]="'50'">Hành động</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td>{{ data.id }}</td>
    <td>{{ data.name }}</td>
<!--    <td>{{ data.path }}</td>-->
    <td>
      <nz-tag [nzColor]="'green'" *ngIf="data.isCustomer">Khách hàng</nz-tag>
      <nz-tag [nzColor]="'red'" *ngIf="!data.isCustomer">Admin</nz-tag>
    </td>
    <td>{{ data.phone }}</td>
    <td>
      <a (click)="removeFile(data)" *ngIf="!data.removing">Xoá file</a>
      <a *ngIf="data.removing">Đang xoá</a>
    </td>
  </tr>
  </tbody>
</nz-table>
<nz-modal [(nzVisible)]="isVisibleUpload" nzTitle="Upload file"
          [nzCancelLoading]="uploading"
          [nzOkLoading]="uploading"
          [nzOkText]="'Upload'"
          [nzCancelText]="'Huỷ'"
          (nzOnCancel)="handleCancel()" (nzOnOk)="uploadFile()">
  <ng-container *nzModalContent>
    <div [formGroup]="formUpload">
      <div class="mb-3">
        <label class="mb-1">Tên hiển thị <span class="text-danger">*</span></label>
        <input class="form-control" formControlName="name" placeholder="Tên hiển thị"
               [class.is-invalid]="(formUpload.controls.name.touched || formUpload.controls.name.dirty) && formUpload.controls.name.errors"
               [class.is-valid]="(formUpload.controls.name.touched || formUpload.controls.name.dirty) && !formUpload.controls.name.errors">
      </div>
      <div class="">
        <label class="mb-1">Chọn file <span class="text-danger">*</span></label>
        <input type="file" class="form-control" accept="application/pdf" formControlName="file" placeholder="Chọn file" (change)="onChangeFile($any($event).target.files)"
               [class.is-invalid]="(formUpload.controls.file.touched || formUpload.controls.file.dirty) && formUpload.controls.file.errors"
               [class.is-valid]="(formUpload.controls.file.touched || formUpload.controls.file.dirty) && !formUpload.controls.file.errors">
      </div>
    </div>
  </ng-container>
</nz-modal>
