<div class="row justify-content-between mb-2">
  <div class="col-md-6">
    <h4>Danh sách files</h4>
  </div>
  <div class="col-md-6 mt-sm-2 d-flex justify-content-end">
    <button nz-button nzType="primary" class="d-flex align-items-center" (click)="showModal()" nzShape="round" [nzLoading]="uploading">
      <span nz-icon [nzType]="'upload'"></span>
      Tải file lên
    </button>
  </div>
</div>
<app-list-file [loading]="loading" [listOfData]="listOfData" [allowRemove]="true" [allowEdit]="true" (onRemoved)="onSearch()"></app-list-file>

<nz-modal [(nzVisible)]="isVisibleUpload" nzTitle="Upload file"
          [nzOkLoading]="uploading"
          [nzOkText]="'Upload'"
          [nzCancelText]="'Huỷ'"
          (nzOnCancel)="handleCancel()" (nzOnOk)="uploadFile()">
  <ng-container *nzModalContent>
    <div [formGroup]="formUpload">
      <div class="mb-3">
        <label class="mb-1">Tên hiển thị <span class="text-danger">*</span></label>
        <input class="form-control" formControlName="name" placeholder="Tên hiển thị"
               [class.is-invalid]="(formUpload.controls.name.touched || formUpload.controls.name.dirty) && formUpload.controls.name.errors"
               [class.is-valid]="(formUpload.controls.name.touched || formUpload.controls.name.dirty) && !formUpload.controls.name.errors">
      </div>
      <div class="">
        <label class="mb-1">Chọn file <span class="text-danger">*</span></label>
        <input type="file" class="form-control" accept="application/pdf" formControlName="file" placeholder="Chọn file" (change)="onChangeFile($any($event).target.files)"
               [class.is-invalid]="(formUpload.controls.file.touched || formUpload.controls.file.dirty) && formUpload.controls.file.errors"
               [class.is-valid]="(formUpload.controls.file.touched || formUpload.controls.file.dirty) && !formUpload.controls.file.errors">
      </div>
    </div>
  </ng-container>
</nz-modal>
