<div class="inner-content m-3">
  <div>
    <h2 class="text-center mb-5">Bạn muốn thiết kế gì hôm nay?</h2>
    <hr>
  </div>
  <div class="gutter-example">
    <div nz-row [nzGutter]="[16, 16]">
      <ng-container *ngIf="loading">
        <div nz-col class="gutter-row" [nzSpan]="24 / numberItems">
          <div class="grid-config loading">
            <ng-container [ngTemplateOutlet]="loadingTpl"></ng-container>
          </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / numberItems">
          <div class="grid-config loading">
            <ng-container [ngTemplateOutlet]="loadingTpl"></ng-container>
          </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="24 / numberItems">
          <div class="grid-config loading">
            <ng-container [ngTemplateOutlet]="loadingTpl"></ng-container>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="!loading">
        <div nz-col class="gutter-row" [nzSpan]="24 / numberItems" *ngFor="let item of listOfData">
          <a class="grid-config d-block" [href]="'/edit-file/' + item.id + '/' + item.name" target="_blank">
            <img #img (error)="img.src = 'assets/images/logo.png'" [src]="urlBE + '/image/' + item.name + '.png'" />
            <div class="info-file">
              {{item.name}}
            </div>
          </a>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<ng-template #loadingTpl>
  <div class="text-center" style="line-height: 200px">
    <span nz-icon class="icon-extra" [nzType]="'loading'"></span>
  </div>
</ng-template>
